@if (isAddProfessionnal) {
<app-new-professionnal (close)="onCloseAddPro()" />
}
@if (isModifyProfessionnal) {
<app-modify-professionnal (close)="isModifyProfessionnal=$event" [pro]="modifyProfessionnal" />
}

<div class="flex justify-center items-center flex-col mt-4">
  @if (totalPages > 1) {
  <div class="flex justify-center items-center space-x-4 mb-2">
    <button class="text-white cursor-pointer" (click)="prevPage()" [disabled]="currentPage === 1">Précédent</button>
    <button class=" text-white cursor-pointer" (click)="nextPage()"
      [disabled]="currentPage === totalPages">Suivant</button>
  </div>
  <span class="text-center text-white">Page {{ currentPage }} / {{ totalPages }}</span>
  }
</div>

<div class="flex flex-col justify-center items-center ">
  <table class="table-auto border-collapse border border-gray-300 shadow-lg bg-white rounded-lg">
    <thead class="bg-gray-200">
      <tr>
        <th class="px-6 py-3 border border-gray-300 text-left font-semibold text-gray-700">Id</th>
        <th class="px-6 py-3 border border-gray-300 text-left font-semibold text-gray-700">Name</th>
        <th class="px-6 py-3 border border-gray-300 text-left font-semibold text-gray-700">Siret</th>
        <th class="px-6 py-3 border border-gray-300 text-left font-semibold text-gray-700">Image</th>
        <th class="px-6 py-3 border border-gray-300 text-left font-semibold text-gray-700 ">Email</th>
        <th class="px-6 py-3 border border-gray-300 text-left font-semibold text-gray-700">Password</th>
      </tr>
    </thead>
    <tbody>
      @for (list of professionnalList; track list.id) {
      <tr class="hover:bg-gray-200">
        <td class="px-6 py-4 border border-gray-300 text-gray-600">{{list.id}}</td>
        <td class="px-6 py-4 border border-gray-300 text-gray-600">{{list.name}}</td>
        <td class="px-6 py-4 border border-gray-300 text-gray-600">{{list.siret}}</td>
        <td class="px-6 py-4 border border-gray-300 text-gray-600 max-w-2xs overflow-hidden">{{list.image}}</td>
        <td class="px-6 py-4 border border-gray-300 text-gray-600">{{list.email}}</td>
        <td class="px-6 py-4 border border-gray-300 text-gray-600">{{list.password}}</td>
        <div>
          <td class="px-6 py-4 border border-gray-300 text-gray-600">
            <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mr-0.5  cursor-pointer"
              (click)="modifyProfessionnalId(list)"><mat-icon>edit</mat-icon></button>
            <button class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded cursor-pointer"
              (click)="deleteProfessionnal(list.id!)"><mat-icon>delete</mat-icon></button>
          </td>
        </div>
      </tr>
      }
    </tbody>
  </table>
  <div class="flex justify-center mt-10">
    <button
      class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded mr-0.5 min-w-20 block cursor-pointer"
      (click)="onAddPro()">Create</button>
    <button
      class="bg-red-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded mr-0.5 min-w-20 block ml-2 cursor-pointer"
      (click)="backToHome()">Accueil</button>
  </div>
</div>
