<div class="  flex items-center justify-center mt-80 ">
  <dialog open class="m-auto bg-white rounded-lg shadow-lg p-6 w-full max-w-md" (click)="$event.stopPropagation()">
    <div class="modal" tabindex="-1">
      <div class="modal-dialog">
        <div class="modal-content">

          <div class="modal-header">
            <h1 class="text-2xl font-bold">Détail de la location</h1>
            <button type="button" class="btn-close"></button>
          </div>

          <div class="modal-body">
            <p><strong>Tarif journalier : {{priceVehicle ? priceVehicle + " €/jour" : "Indisponible" }} </strong></p>
            <p><strong>Durée :</strong> {{this.vehicleService.totalDays || 0}} jours</p>
            <p><strong>Assurance :</strong> </p>
            <p><strong>Frais supplémentaires :</strong> </p>
            <hr>
            <p><strong>Total :</strong> </p>
          </div>



          <div class="flex justify-end">
            <button class="px-4 py-2 bg-gray-300 text-gray-700 rounded-md hover:bg-gray-400 cursor-pointer"
              (click)="back()">Fermer</button>
          </div>

        </div>
      </div>
    </div>

  </dialog>
</div>