/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background: teal; }

.active {
  background: linear-gradient(90deg, #008080, #32cd32); /* teal and green shades only */
}


